
<div class=" pt-16">
  <a class=" my-20 flex flex-col items-center  bg-white border border-[#BB7A3E]/50   mx-auto  md:flex-row w-[70%]  dark:border-[#BB7A3E]/50 dark:bg-gray-800 rounded-lg shadow-xl dark:hover:bg-gray-700">
    <img class="object-cover w-full  rounded-t-lg h-[300px] md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="categoriesDetails.image" alt="">
    <div class="flex flex-col  mx-10 w-full  justify-between leading-normal">
      <div class="card-body py-4 flex  flex-col justify-between">
        <h4 class="text-[#BB7A3E] font-serif ms-5 pb-3 text-xl text-start capitalize">{{categoriesDetails.name}}</h4>
        <h5 class="text-[#BB7A3E] font-serif ms-5 pb-3 text-xl text-start">{{categoriesDetails.updatedAt}}</h5>
        
    </div>
    <button  type="button" class="text-white border ms-5 border-[#BB7A3E] bg-[#BB7A3E] hover:border-[#BB7A3E] hover:text-[#BB7A3E] hover:bg-white focus:ring-1 focus:ring-[#BB7A3E] font-medium rounded-lg text-sm px-5  py-2 mb-2 mt-5 dark:bg-[#BB7A3E] dark:hover:bg-[#BB7A3E] focus:outline-none dark:focus:ring-[#BB7A3E] w-[50%] block mx-auto">Add To Cart</button>

</div>
</a>
</div>